<a href="https://colab.research.google.com/github/JusFinAI/JusFinAI.github.io/blob/master/stock_ex01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## yfinance 라이브러리 설치

In [ ]:
!pip install yfinance

## 특정 종목의 주가 데이타(일봉) 가져와 dataframe으로 변환하기

In [ ]:
import yfinance as yf
import pandas as pd

# 애플(AAPL) 주식 코드
ticker = "AAPL"

# 시작일과 종료일 설정
start_date = "2015-01-01"
end_date = "2023-04-19"

# yfinance를 사용하여 주가 데이터 가져오기
data = yf.download(ticker, start=start_date, end=end_date)

# 데이터프레임으로 변환하기
df = pd.DataFrame(data)

[*********************100%***********************]  1 of 1 completed

In [ ]:
df.head(10)

                 Open       High        Low      Close  Adj Close     Volume
Date
2015-01-02  27.847500  27.860001  26.837500  27.332500  24.565693  212818400
2015-01-05  27.072500  27.162500  26.352501  26.562500  23.873642  257142000
2015-01-06  26.635000  26.857500  26.157499  26.565001  23.875885  263188400
2015-01-07  26.799999  27.049999  26.674999  26.937500  24.210682  160423600
2015-01-08  27.307501  28.037500  27.174999  27.972500  25.140911  237458000
2015-01-09  28.167500  28.312500  27.552500  28.002501  25.167873  214798000
2015-01-12  28.150000  28.157499  27.200001  27.312500  24.547720  198603200
2015-01-13  27.857500  28.200001  27.227501  27.555000  24.765676  268367600
2015-01-14  27.260000  27.622499  27.125000  27.450001  24.671305  195826400
2015-01-15  27.500000  27.514999  26.665001  26.705000  24.001715  240056000